body, html{
    background-color: white;
    margin: 0;
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: column;

}

.header{
    background-color: darkgreen; 
    
}
span{
    font-weight: 700;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

ul{
    margin-right: 200px;
}

li{
    list-style: none;
    display: inline;
    margin-right: 30px;
    
}

a{
    text-decoration: none;
    color: white;
}

.logo{

    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 200px;
}

.outer-container{
    display: flex;
    height: 100%;
    width: 100%;
   /*border: 1px solid red;*/
    justify-content: center;
    align-items: center;
}
img{
    height: 400px;
    width: 400px;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    /*border: 1px solid red;*/
   
}

.info, .house{
    width: 80%; 
    height: 80%;
    /*border: 1px solid red;*/
 
}

.house{
    display: flex;
    justify-content: center;
    align-items: center;
}


.info p{
    font-size: 78px;
    text-align: justify;
    font-family: 'Outfit', sans-serif;

}

.detail{
    font-size: 20px;
    font-weight: 300;
}

button{
    font-size: 30px;
    background-color: #fae642;
    padding: 9px 12px;
    border-radius: 30px;
    margin: 0;
}

.second-button{
    background-color: white;
}


